
  <div class=container>
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>{{ theUser.email }}
          <span *ngIf="isNotAdmin">
            <button mat-icon-button (click)="OnUserDelete(theUser.email)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
          <span *ngIf="!isNotAdmin">
              <mat-icon>lock</mat-icon>
          </span>
        </mat-card-title>
        <mat-card-subtitle>{{ theUser.firstname }} {{ theUser.lastname }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

