<div *ngFor='let link of links'>
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="start">
    <div fxFlex="60%">
      <mat-card-content class="linkName" *ngIf="haslink">[ output = {{ link.attr.name }} ]</mat-card-content>
    </div>
    <div class="second" fxFlex="40%">
      <form [formGroup]="variableForm">
        <mat-form-field>
          <mat-label>Should be mapped to : </mat-label>
          <mat-select placeholder="Variable" formControlName='name' id='name' [(value)]='varValue' (selectionChange)='onChange()'>
            <mat-option *ngFor="let variable of variables" [value]="variable.name">
              <span>{{variable.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div> <!-- <input matInput> {{ outgoing }} -->
</div>
