<div *ngFor='let link of links'>
    <form [formGroup]="variableForm">
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="start">
    <div fxFlex="60%">
      <mat-card-content class="linkName" *ngIf="haslink">
        <div *ngIf="!hasAlias">
         [ output = {{ link.attr.name }} ]
        <mat-icon (click)='addAlias()'>edit</mat-icon>
        </div>
        <div *ngIf="hasAlias">
          <div>
         <input Autofocus matInput placeholder="Alias"
                formControlName="alias"
                [(value)]='aliasValue'
                (keyup.enter)='onAliasChange(link)'
                (blur)= 'onAliasChange(link)'>
          </div>
          <mat-icon (click)='addAlias()'>clear</mat-icon>
        </div>
      </mat-card-content>
    </div>
    <div class="second" fxFlex="40%">

        <mat-form-field *ngIf="!hasMapping">
          <mat-label>Should be mapped to : </mat-label>
          <mat-select placeholder="Variable" formControlName='name' id='name' [(value)]='varValue' (selectionChange)='onChange()'>
            <mat-option *ngFor="let variable of variables" [value]="variable.name">
              <span>{{variable.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="hasMapping">
            <mat-label>Mapped to : </mat-label>
            <input matInput placeholder="Variable" formControlName='name' id='name' [(value)]='varValue' (selectionChange)='onChange()'>
          </mat-form-field>

    </div>
  </div> <!-- <input matInput> {{ outgoing }} -->
</form>
</div>
