<!-- <div *ngFor='let task of tasks'> -->
    <div class="matGateway">
        <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="left center">
          <div fxFlex="15%" fxLayoutAlign="center">
          <!-- <img class="taskicon" src='assets/task_icons/Task_STANDARD.png'> -->
          <img class="taskicon" src='assets/task_icons/Gateway_EXCLUSIVE.png'>

        </div>

        <mat-divider></mat-divider>
        <mat-card class="gatewayInfo" fxFlex="85%">

          <mat-card-header>

          <mat-card-title-group>
            <mat-card-title class="tasktitle"> Gateway : {{ gateway.attr.name | uppercase }}   ({{ gateway.attr.id }})</mat-card-title>

          <mat-card-subtitle>[ EXCLUSIVE ]</mat-card-subtitle>
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let incoming of incomings">
            <app-incoming [incoming]='incoming'></app-incoming>
            </div>
            <div *ngFor="let outgoing of outgoings">
            <app-outgoing [outgoing]='outgoing'></app-outgoing>
            </div>
        </mat-card-content>
        </mat-card>
      </div>
      </div>
