<br>
<div class=container>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="10%" fxLayoutAlign="space-around">
    <mat-form-field fxFlex="85%" class="search-form">
      <input matInput placeholder="Search" type="text">
    </mat-form-field>
    <button fxFlex="10%" button="submit" mat-raised-button color="primary">Search</button>
  </div>
</div>
<br>

  <div class=flex_container fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around stretch" >
    <div fxFlex="25" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" *ngFor="let article of articles">
    <mat-card class="card-article" >
      <mat-card-title fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="start center">
        <span fxFlex="80%">{{ article.title}}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
      </mat-card-title>
      <img mat-card-image [src]=article.image>
      <mat-card-content class="dashboard-card-content">
        <div>{{ article.content }}</div>
      </mat-card-content>
    </mat-card>
    <br>
    </div>
  </div>

