<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Process :
    </mat-panel-title>
    <mat-panel-description>
      name : {{ process.attr.name }}
    </mat-panel-description>
    <mat-panel-description>
      id : {{ process.attr.id }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf='hasParticipant'>
    <div *ngFor='let participant of participants'>
      <app-participant [participant]='participant'></app-participant>
    </div>
  </div>
  <app-start-event *ngIf="hasStartEvent" [startEvent]='process.startEvent'></app-start-event>
  <div *ngIf="hasTask">
  <div *ngFor="let task of masterTask">
  <app-task [task]='task'></app-task>
  </div>
  </div>

  <div *ngIf="hasComplexGateway">
      <div *ngFor="let gateway of complexGateways">
      <app-complex [gateway]='gateway'></app-complex>
      </div>
  </div>

  <div *ngIf="hasEventBasedGateway">
      <div *ngFor="let gateway of eventbasedGateways">
      <app-eventbased [gateway]='gateway'></app-eventbased>
      </div>
  </div>

  <div *ngIf="hasExclusiveGateway">
      <div *ngFor="let gateway of exclusiveGateways">
      <app-exclusive [gateway]='gateway'></app-exclusive>
      </div>
  </div>

  <div *ngIf="hasInclusiveGateway">
      <div *ngFor="let gateway of inclusiveGateways">
      <app-inclusive [gateway]='gateway'></app-inclusive>
      </div>
  </div>

  <div *ngIf="hasParallelGateway">
      <div *ngFor="let gateway of parallelGateways">
      <app-parallel [gateway]='gateway'></app-parallel>
      </div>
  </div>


  <app-end-event *ngIf="hasEndEvent"[endEvent]='process.endEvent'></app-end-event>
</mat-expansion-panel>
