<div class="Card">

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
        <mat-toolbar color="secondary">
          <span fxFlex="95%">End Event</span>
          <span fxFlex="5%">
            <img class="taskicon" src='assets/task_icons/EndEvent.png'>
          </span>
        </mat-toolbar>
      </div>
      <div>
      <mat-card class=" matCardInfo">
        <div class="divcard" >
            <mat-card-subtitle class="startevent">{{ endEvent.attr.name | uppercase }}</mat-card-subtitle>
          <mat-card-content *ngFor="let incoming of incomings">
            <app-outgoing [outgoing]='incoming'></app-outgoing>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
