<br>
<mat-card class="background primary" class="card-article" (click)='manageWorkflow()'>
  <mat-card-title fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
    <span fxFlex="80%">{{ workflow.title }}</span>
    <mat-icon *ngIf="workflow.mode === 'ro'" fxFlex="7%" (click)='locked()'>lock</mat-icon>
    <mat-icon *ngIf="workflow.mode != 'ro'" fxFlex="7%" (click)='deleteWorkflow()'>delete</mat-icon>
  </mat-card-title>
  <app-svgimage [imagesvg]=svg></app-svgimage>
  <!-- <img mat-card-image [src]=workflow.image> -->
  <mat-card-content class="dashboard-card-content">
    <div>{{ workflow.lastModifiedDate | date : "short" }}</div>
  </mat-card-content>
</mat-card>
<br>
