<br>
<mat-card class="background primary" class="card-article">
  <mat-card-title fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
    <span fxFlex="80%" (click)='manageWorkflow()'>{{ workflow.title }}</span>
    <!-- <mat-icon *ngIf="workflow.mode === 'ro'" fxFlex="7%" (click)='locked()'>lock</mat-icon>
    <mat-icon *ngIf="workflow.mode != 'ro'" fxFlex="7%" (click)='deleteWorkflow()'>delete</mat-icon> -->
    <mat-icon (click)='analysis()'>pageview-outline</mat-icon>
    <mat-icon *ngIf="workflow.readonly" fxFlex="7%" (click)='locked()'>lock</mat-icon>
    <mat-icon *ngIf="!workflow.readonly" fxFlex="7%" (click)='deleteWorkflow()'>delete</mat-icon>
  </mat-card-title>
  <app-svgimage [imagesvg]=svg (click)='manageWorkflow()'></app-svgimage>
  <!-- <img mat-card-image [src]=workflow.image> -->
  <mat-card-header fxLayout = "row" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAligne=" space-between center">
    <div fxFlex="50%" class="header"> Domain : {{ workflow.domain }} </div>
    <div fxFlex="50%" class="header"> Company : {{ workflow.company }} </div>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content" (click)='manageWorkflow()'>
    <mat-divider></mat-divider>
    <p class="description">{{ workflow.description}}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-footer fxLayout = "row" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAligne=" space-between center">
    <div fxFlex="50%" class="lastmodified"> Last modified :  {{ workflow.lastModifiedDate | date : "short" }} by {{ modifiedBy }}</div>
    <div fxFlex="50%" class="created"> Created : {{ workflow.createDate | date : "short" }} by {{ createdBy }}</div>
  </mat-card-footer>
</mat-card>
<br>
