<app-main-nav></app-main-nav>
<div *ngIf=datatodisplay>
  <div class="example-container">
    <!-- <mat-form-field>
      <textarea matInput placeholder="JSON Content"> {{ jsoncontent }}</textarea>
    </mat-form-field> -->

    <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
        <mat-toolbar color="secondary" (click)='displayWorkflow()'>
          <span fxFlex="95%">Workflow : {{ workflow.title }}</span>
          <span fxFlex="5%">
            <mat-icon *ngIf="!hasToDisplayWorkflow">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="hasToDisplayWorkflow">keyboard_arrow_up</mat-icon>
          </span>
        </mat-toolbar>
    </div>
    <div class='viewer' *ngIf="hasToDisplayWorkflow">
      <app-basicviewer [workflow]='workflow'></app-basicviewer>
    </div>

    <app-collaboration [collaboration]='collaboration'></app-collaboration>

    <mat-divider></mat-divider>
    <div *ngFor='let process of processes'>
      <app-process [workflow]='workflow' [collaboration]='collaboration'></app-process>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
<!-- <div *ngIf="!datatodisplay">
  <p>Loading...</p>
</div> -->
<div class="progress-loader" *ngIf="!datatodisplay" [hidden]="datatodisplay">

    <mat-progress-spinner [mode]="'indeterminate'">
    </mat-progress-spinner>

</div>
