<mat-sidenav-container class="sidenav-container">
  <mat-toolbar *ngIf="isAuthenticated" color="primary">
    <mat-toolbar-row>
      <span>Menthe</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="bpmnMenu">WorkFlow</button>
      <mat-menu #bpmnMenu="matMenu">
        <button mat-menu-item [routerLink]="['/workflow/create']">Create New Workflow</button>
        <button mat-menu-item>Sub Menu 2</button>
      </mat-menu>
      <div *rbacAllow="['ADMIN']">
        <button mat-button [matMenuTriggerFor]="appAdminMenu">Admin</button>
        <mat-menu #appAdminMenu="matMenu">
          <button mat-menu-item [routerLink]="['/Accountadmin']">
            <mat-icon>face</mat-icon>
            <span>Account</span>
          </button>
        </mat-menu>
      </div>
      <mat-icon [routerLink]="['/dasboard']">home</mat-icon>
      <!-- <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon> -->
      <mat-icon mat-button [matMenuTriggerFor]="menu" class="example-icon">settings</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon >face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)='logout()'>
          <mat-icon >exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <!-- Add Content Here -->
</mat-sidenav-container>
