.tasktitle {
  font-size: 16px;
}

.taskicon {
  /* background: center / contain no-repeat url('src/assets/task_icons/Task_STANDARD.png'); */
  height: 40px;
  width: 40px;
  border: none;
}

.matTask {
  margin: 10px;
  padding-bottom: 8px;
}

.statusInfo {
  background-color: red;
}

.waiting {
  border: 20px solid;
  border-color: transparent transparent transparent blue;

}

.Card {
  margin: 10px;
  padding-bottom: 8px;
}
