.tasktitle {
  font-size: 16px;
}

.taskicon {
  /* background: center / contain no-repeat url('src/assets/task_icons/Task_STANDARD.png'); */
  height: 75px;
  width: 75px;
  border: none;
}

.matTask {
  margin-top: 2px;
  margin-bottom: 2px;
}

.statusInfo {
  background-color: red;
}

.taskInfo {
  background-color: #eff5ef;
}
.waiting {
  border: 20px solid;
  border-color: transparent transparent transparent blue;

}
