<!-- <div *ngFor='let task of tasks'> -->
  <div class="matTask">
    <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="left center">
      <div fxFlex="15%" fxLayoutAlign="center">
      <!-- <img class="taskicon" src='assets/task_icons/Task_STANDARD.png'> -->
      <img class="taskicon" src='{{ taskIcon }}'>

    </div>

    <mat-divider></mat-divider>
    <mat-card class="taskInfo" [ngClass]="{'waiting': status === 1000}" fxFlex="35%">

      <mat-card-header>

      <mat-card-title-group>
        <mat-card-title class="tasktitle"> Task : {{ task.attr.name | uppercase }}   ({{ task.attr.id }})</mat-card-title>

      <mat-card-subtitle>[ {{ task.type }} ]</mat-card-subtitle>
    </mat-card-title-group>
    </mat-card-header>
      <mat-card-content>
          <app-incoming [incoming]='task.incoming'></app-incoming>
          <app-outgoing [outgoing]='task.outgoing'></app-outgoing>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  <!-- </div> -->
