<app-main-nav></app-main-nav>
<br>
<div class=container>
  <form [formGroup]="boardForm">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="10%" fxLayoutAlign="space-around">
    <mat-form-field fxFlex="85%" class="search-form">
      <input Autofocus matInput placeholder="Filter (by lastname; firstname; domain; company)" type="text" formControlName="filter">
    </mat-form-field>
    <!-- <button fxFlex="10%" button="submit" mat-raised-button color="primary">Search</button> -->
  </div>
</form>
</div>
<br>

  <div class=card-container fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around stretch" >
      <app-accountadmin fxFlex="33" fxLayoutGap="5px"
                        (userDeleted)="onDelete($event)"
                        *ngFor="let user of users | userfilter: filter"
                        class=card
                        [user]=user >
      </app-accountadmin>
  </div>


