<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Participant :
      </mat-panel-title>
      <mat-panel-description>
        {{ participant.attr.name }}
      </mat-panel-description>
      <mat-panel-description>
          (for process {{ participant.attr.processRef}})
        </mat-panel-description>
    </mat-expansion-panel-header>
    <span> Process Ref : {{ participant.attr.processRef}}</span>
  </mat-expansion-panel> -->
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
    <div fxFlex="15%" fxLayoutAlign="center">
    <!-- <img class="taskicon" src='assets/task_icons/Task_STANDARD.png'> -->
    <img class="taskicon" src='assets/task_icons/Participant.png'>
  </div>

  <mat-divider></mat-divider>
  <mat-card class="matCardInfo" fxFlex="85%">

    <mat-card-header>

    <mat-card-title-group>
      <mat-card-title class="tasktitle"> Participant : {{ participant.attr.name | uppercase }}</mat-card-title>

    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-title-group>
  </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
