<div class="Card">


  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
      <mat-toolbar color="secondary">
        <span fxFlex="95%">Participant</span>
        <span fxFlex="5%">
          <img class="taskicon" src='assets/task_icons/Participant.png'>
        </span>
      </mat-toolbar>
    </div>
    <div>
  <mat-card class="matCardInfo">
    <div class="divcard" fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="start center">
      <div class="participant" fxFlex="50%">
        <span>{{ participant.attr.name | uppercase }}</span>
      </div>
      <div class="second" fxFlex="50%">
        <form [formGroup]="userForm">
        <mat-form-field>
          <mat-label>Should be mapped to : </mat-label>
          <mat-select  placeholder="User" formControlName='selectedUser' id='user' (selectionChange)="changeUser($event)">
            <mat-option *ngFor="let user of users" [value]="user.user_id">
              {{user.firstname}} {{user.lastname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div fxFlex="15%"></div>
        <div fxFlex="5%">
            <button mat-fab color="primary" *ngIf="!publishedOK"
                                            [disabled]="!validationOK"
                                            [ngClass]="isPublishValid()"
                                            >Publish</button>
        </div>
        <div fxFlex="5%">
            <button mat-fab color="secondary" *ngIf="publishedOK"
                                              [disabled]="publishedOK"
                                              class="status">DONE</button>
        </div> -->
        </form>
      </div>


    </div>
  </mat-card>
  </div>
</div>
