.taskicon {
  /* background: center / contain no-repeat url('src/assets/task_icons/Task_STANDARD.png'); */
  height: 75px;
  width: 75px;
  border: none;
}

.matCardInfo {
  background-color: #eff5ef;
}

.participant {
  margin: 5px;

  border: solid;
  border-right: 1px;
  border-right-color: darkgreen;
  border-right-style: solid;
  border-left-style: none;
  border-top-style: none;
  border-bottom-style: none;
  font-size: large;
  font-weight: 500;
}

.unvalid {

}

.valid {

}
