<div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
  <div fxFlex="15%" fxLayoutAlign="center">
    <img class="taskicon" src='assets/task_icons/StartEvent.png'>
  </div>

  <mat-divider></mat-divider>
  <mat-card fxFlex="85%">

    <mat-card-header>
        <mat-card-title class="tasktitle"> Start Event : {{ process.startEvent.attr.name | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-outgoing [outgoing]='process.startEvent.outgoing' [linked]='linkedFlow'></app-outgoing>
    </mat-card-content>
  </mat-card>
</div>
