.Card {
  margin: 5px;
  padding-bottom: 8px;
}
.startevent {
  margin: 5px;
  font-size: large;
  font-weight: 500;
}


.taskicon {
  /* background: center / contain no-repeat url('src/assets/task_icons/Task_STANDARD.png'); */
  height: 40px;
  width: 55px;
  border: none;
}

