<div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
  <div fxFlex="15%" fxLayoutAlign="center">
    <img class="taskicon" src='assets/task_icons/StartEvent.png'>
  </div>

  <mat-divider></mat-divider>
  <mat-card class='matCardInfo' fxFlex="85%">

    <mat-card-header>
        <mat-card-title class="tasktitle"> Start Event : {{ startEvent.attr.name | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let outgoing of outgoings">
      <!-- <app-outgoing [outgoing]='startEvent.outgoing' [linked]='linkedFlow'></app-outgoing> -->
      <app-outgoing [outgoing]='outgoing'></app-outgoing>

    </mat-card-content>
  </mat-card>
</div>
