<div class="Card">

  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayout.gt-xs="row" fxLayout.xs="columun" fxLayoutAlign="space-between center">
      <mat-toolbar color="secondary">
        <span fxFlex="95%">Start Event</span>
        <span fxFlex="5%">
          <img class="taskicon" src='assets/task_icons/StartEvent.png'>
        </span>
      </mat-toolbar>
    </div>
    <div>
    <mat-card class=" matCardInfo">
      <div class="divcard" >
          <mat-card-subtitle *ngFor="let startEvent of startEvents" class="startevent">{{ startEvent.attr.name | uppercase }}</mat-card-subtitle>
        <mat-card-content *ngFor="let outgoing of outgoings">
          <app-outgoing [outgoing]='outgoing'></app-outgoing>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
